.insert_code_title_plugin {margin-bottom: 30px !important;right: 30px;position: absolute; top: 15px;}

.wrap_insert_codes_plugin #messages_plugin {position: absolute;top: 34px; left: 170px; display: none;}

.wrap_insert_codes_plugin #messages_plugin span{color: #fff; padding: 12px 30px; font-weight: bold;}

.message_ok{background-color: #00B2DB; }

.message_error{background-color: #c52026; }

.message_no_changes{background-color: #e8d500; }

.menu_plugin{padding: 15px 0px 0px;}

.code_name{font-weight: bold; color: #fff; font-size: 17px;padding-left: 10px;}

div.accordion {
    background-color: #C52026;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

div.accordion .dashicons-menu{color: #fff !important;}

div.accordion.active, div.accordion:hover {
    background-color: #01AFD6;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.show {
    display: block !important;
}

div.panel {
    padding: 0 18px 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	width: 100%;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

div.accordion:after {
    content: '\02795';
    font-size: 16px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2796"; 
}

.accordion_full{margin-bottom: 8px;}

.button_delete{font-size: 32px; color: #C52026; padding: 0px 8px 5px; float: right;}

.button_duplicate{font-size: 24px;color: #01AFD6; }

#button_display{font-size: 34px; color: #e8d500; padding: 0px 6px;}

#button_add{font-size: 34px; color: #01AFD6; padding: 0px 6px;}

#button_save{height: 28px; width: 28px; color: #82be00; margin-right: -3px; margin-left: 12px; margin-top: 2px; background: url("./icons/disquete-green.svg") no-repeat; background-size: cover;}

.icon-save{height: 16px; width: 16px; color: #000; margin: 2px 2px 0px; background: url("./icons/disquete.svg") no-repeat; background-size: cover;}

#button_empty{font-size: 32px; color: #c52026;padding: 0px 6px; }

#button_help{font-size: 45px; color: #000; position:fixed; padding: 15px 35px 35px 15px; bottom: 0px; right: 10px; background-color: #F1F1F1; }

.icon_title{font-size: 45px;margin-right: 20px;margin-top: -12px;}

.dashicons{cursor: pointer !important; }

#accordions_content{padding: 10px 50px 0px 0px;}

#accordions_content .accordion_full:first-child {display: none;}

#modal_empty{display: none; position: fixed; width: 340px; z-index: 99999; height: 80px; left: 50%; margin-left: -170px; top: 15%;background-color: #fff; border: 2px solid #000; padding: 10px 40px 30px;}

#modal_help{display: none; position: fixed; width: 70%; z-index: 9999; left: 15%; top: 15%;background-color: #fff; border: 2px solid #000; padding: 30px;}

#modal_empty h3{text-align: center;}

#modal_help ul li{list-style: none; padding-left: 30px;}

#hide_help{font-size: 32px; color: #000; position: absolute; top: 10px; right: 20px;}

#confirm_empty, #cancel_empty{text-decoration: none; padding: 10px 25px; color: #fff; font-weight: 600; }

#confirm_empty{background-color: #82be00; float: left;}

#cancel_empty{background-color:  #c52026; float: right; }

.wrap_insert_codes_plugin select{
	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
	width: 100%;
	 background:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #c52026, #c52026);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    3em 3em;
	background-repeat: no-repeat;
	border: thin solid #c52026;
	font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
	height: 40px;
	box-sizing: border-box;
	border-radius: 0;
	padding-left: 10px;
}

.col_1_4{width:24%; margin:0.5%; padding: 10px 0px; float: left;}

@media screen and (max-width: 1100px)
{
	.col_1_4{width:48%; margin:1%; padding: 10px 0px; float: left;}
}

@media screen and (max-width: 760px)
{
	.col_1_4{width:98%; margin:1%; padding: 10px 0px; float: left;}
}

.panel .col_1_4:last-child{margin-right: 0%; }

.input_name_code{
	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
	border: thin solid #c52026 !important;
	height: 40px !important;
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}
	
.wrap_insert_codes_plugin textarea{
	width: 100% !important; 
	resize: none !important;
	height: 100px !important;
	 border: thin solid #c52026;}
	 
.wrap_insert_codes_plugin textarea:focus{background-color: #fbfbfb;}

.text_h3{margin: 0px 12px !important;}
