.insert_code_title_plugin {margin-bottom: 30px !important;right: 30px;position: absolute; top: 15px;}

.wrap_insert_codes_plugin #messages_plugin {position: absolute;top: 34px; left: 170px; display: none;}

.wrap_insert_codes_plugin #messages_plugin span{color: #fff; padding: 12px 30px; font-weight: bold;}

.panel h3{width: 100%; text-align: center;}

.message_ok{background-color: #00B2DB; }

.message_error{background-color: #c52026; }

.message_no_changes{background-color: #e8d500; }

.menu_plugin{padding: 15px 0px 10px;}

.code_name{font-weight: bold; color: #fff; font-size: 17px;padding-left: 10px;}

div.accordion {
    background-color: #C52026;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

div.accordion .dashicons-menu{color: #fff !important;}

div.accordion.active, div.accordion:hover {
    background-color: #01AFD6;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.show {
    display: block !important;
}

div.panel {
    padding: 0 18px 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	width: 100%;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

div.accordion:after {
    content: '\02795';
    font-size: 16px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2796"; 
}

.accordion_full{margin-bottom: 8px;}

.button_delete{font-size: 32px; color: #C52026; padding: 0px 8px 5px; float: right;}

.button_duplicate{font-size: 24px;color: #01AFD6; }

#button_display{font-size: 34px; color: #e8d500; padding: 0px 6px;}

#button_add{font-size: 34px; color: #01AFD6; padding: 0px 6px;}

#button_save{font-size: 32px; height:32px;width: 32px; color: #82be00;padding: 0px 6px; }

#button_empty{font-size: 32px; color: #c52026;padding: 0px 6px; }

.icon_title{font-size: 45px;margin-right: 20px;margin-top: -12px;}

.dashicons{cursor: pointer !important; }

.num_xx{display: none;}

#accordions_content{padding: 10px 50px 0px 0px;}

#accordions_content .accordion_full:first-child {display: none;}

.wrap_insert_codes_plugin select{
	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
	width: 24%;
	 background:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #c52026, #c52026);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
	background-repeat: no-repeat;
	border: thin solid #c52026;
	font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
	height: 40px;
	box-sizing: border-box;
	border-radius: 0;
	padding-left: 10px;
}


.input_name_code{
	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
	border: thin solid #c52026 !important;
	height: 40px !important;
	width: 24%;
	padding-left: 10px;
	box-sizing: border-box;
}
	
.wrap_insert_codes_plugin textarea{
	width: 100% !important; 
	resize: none !important;
	height: 100px !important;
	 border: thin solid #c52026;}
	 
.wrap_insert_codes_plugin textarea:focus{background-color: #fbfbfb;}

.text_h3{margin: 0px 12px !important;}

.loading{
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}